@charset "UTF-8";
/* Обнуление стилей */
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Ограничивающий контейнер */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Основная оболочка сайта */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Подключение шрифтов */
body, html {
  font-family: 'Nunito', sans-serif;
}

/* Переменные */
/* Шапка */
.header {
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__logo {
  position: relative;
  z-index: 2;
  flex: 0 1 120px;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  background-color: #fff;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.header__link {
  margin: 7.5px 0px 7.5px 0px;
  flex: 0 1 25%;
  text-align: center;
}

.header__link a {
  position: relative;
  color: #81858e;
  font-size: 18px;
  white-space: nowrap;
  padding: 0 0 5px 0;
}

.header__link a:hover {
  color: #2f78ff;
}

.header__link a::before, .header__link a::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #2f78ff;
  transition: 500ms;
}

.header__link a::before {
  left: 50%;
}

.header__link a::after {
  right: 50%;
}

.header__link a:hover::before, .header__link a:hover::after {
  width: 50%;
}

.header__contacts {
  position: relative;
  z-index: 2;
}

.header__tel {
  margin: 0px 0px 5px 0px;
}

.header__tel a {
  text-align: center;
  display: block;
  background-color: #2f78ff;
  border: 2px solid #2f78ff;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  transition: 300ms;
  white-space: nowrap;
}

.header__tel a:hover {
  background-color: #fff;
  color: #2f78ff;
}

.header__tel-img {
  display: none;
}

.header__email a {
  text-align: center;
  display: block;
  background-color: #2110be;
  border: 2px solid #2110be;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  transition: 300ms;
}

.header__email a:hover {
  background-color: #fff;
  color: #2110be;
}

.header__email-img {
  display: none;
}

.header__burger {
  display: none;
}

/* Контентная часть */
.content {
  padding: 110px 0 0 0;
  flex: 1 0 auto;
  height: 200vh;
}

/* Блок О нас */
.aboutus {
  background-color: #2f78ff;
}

.aboutus__row {
  display: flex;
  align-items: center;
}

.aboutus__column_1 {
  flex: 0 1 60%;
}

.aboutus__column_2 {
  flex: 0 1 40%;
  background-color: #b8b8b8;
}

.aboutus__card {
  padding: 30px;
  color: #fff;
}

.aboutus__title {
  font-size: 34px;
  margin: 0px 0px 30px 0px;
}

.aboutus__subtitle {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}

.aboutus__description {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

.aboutus__feedback {
  padding: 30px 70px;
}

.feedback__title {
  font-size: 26px;
  color: #fff;
  margin: 0px 0px 20px 0px;
}

.feedback__form {
  border-radius: 10px;
}

.feedback__point {
  margin: 0px 0px 15px 0px;
}

.feedback__field input, .feedback__field textarea {
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 18px;
  color: #81858e;
  width: 100%;
  height: 40px;
}

.feedback__field textarea {
  resize: none;
  border-radius: 10px;
}

.feedback__privicy {
  font-size: 14px;
  margin: 30px 0px 10px 0px;
  color: #fff;
}

.feedback__privicy a {
  color: #fff;
}

.feedback__button {
  padding: 10px;
  border-radius: 10px;
  background-color: #2110be;
  color: #fff;
  font-size: 18px;
  box-shadow: 0px 3px 0px #271077;
  transition: 300ms;
}

.feedback__button:hover {
  box-shadow: 0px 0px 0px #000;
  transform: translateY(3px);
}

/* Футер */
/* Адаптив */
/* Адаптивный контейнер */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}

/* Адаптив */
@media (max-width: 1199.98px) {
  .aboutus__feedback {
    padding: 30px 50px;
  }
}

@media (max-width: 991.98px) {
  .header__row {
    height: 80px;
  }
  .header__logo {
    flex: 0 1 100px;
    order: 1;
    margin: 0 0 0 -120px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    transition: 500ms;
    border-bottom: 1px solid #c9c9c9;
  }
  .header__menu.active {
    top: 90px;
    height: 75px;
  }
  .header__contacts {
    order: 0;
  }
  .header__contacts a {
    font-size: 16px;
    padding: 7px;
  }
  .header__burger {
    order: 2;
    display: block;
    position: relative;
    z-index: 2;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    top: 42.5%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2f78ff;
    transition: 300ms;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2f78ff;
    transition: 300ms;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: translateX(0px) scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 50%;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    top: 50%;
  }
  .content {
    padding: 90px 0 0 0;
  }
  .aboutus__column_1 {
    flex: 0 1 60%;
  }
  .aboutus__column_2 {
    flex: 0 1 40%;
    border-radius: 10px;
  }
  .aboutus__title {
    font-size: 30px;
  }
  .aboutus__subtitle {
    font-size: 22px;
  }
  .aboutus__card {
    padding: 20px;
  }
  .aboutus__feedback {
    padding: 15px 20px;
  }
  .feedback__title {
    font-size: 22px;
  }
  .feedback__field input {
    font-size: 16px;
  }
  .feedback__button {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .header__row {
    height: 70px;
  }
  .header__logo {
    flex: 0 1 90px;
  }
  .header__menu {
    height: 90px;
  }
  .header__menu.active {
    top: 80px;
  }
  .header__contacts a {
    font-size: 14px;
  }
  .aboutus {
    padding: 30px 0 20px 0;
  }
  .aboutus__row {
    flex-wrap: wrap;
  }
  .aboutus__column_1 {
    flex: 0 1 100%;
    margin: 0px 0px 10px 0px;
  }
  .aboutus__column_2 {
    flex: 0 1 100%;
    border-radius: 10px;
  }
  .aboutus__card {
    padding: 0px;
  }
  .aboutus__feedback {
    padding: 30px 50px;
  }
}

@media (max-width: 575.98px) {
  .header__row {
    height: 60px;
  }
  .header__logo {
    margin: 0 0 0 -40px;
  }
  .header__menu {
    top: -70px;
    height: 150px;
  }
  .header__menu.active {
    top: 70px;
    height: 140px;
  }
  .header__link {
    flex: 0 1 50%;
  }
  .header__contacts a {
    font-size: 12px;
    padding: 5px;
  }
  .header__tel {
    display: none;
  }
  .header__tel-img {
    display: inline-block;
    width: 35px;
  }
  .header__tel-img img {
    max-width: 100%;
  }
  .header__email {
    display: none;
  }
  .header__email-img {
    display: inline-block;
    width: 35px;
  }
  .header__email-img img {
    max-width: 100%;
  }
  .content {
    padding: 70px 0 0 0;
  }
  .aboutus__feedback {
    padding: 20px 25px;
  }
}
