/* Адаптивный контейнер */
@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
}
@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
    }
}

/* Адаптив */
@media (max-width: 1199.98px) {
    .feedback {
            padding: 30px 50px;
    }

    .slide-kind {
        width: 40%;
    }

    .examples {
        &__container {
            max-width: 100%;
            padding: 0;
        }
        
        &__slider {
            height: 400px;
        }

        &__slide {
            width: 27%;
        }
    }

    .slide-repair {
        width: 40%;
    }
}

@media (max-width: 991.98px) {
    // Переменные
    $fz_contacts_992: 16px;
    $fz_subtitle_992: 22px;
    $fz_text_992: 16px;

    .header {

		&__row {
            height: 80px;
		}

		&__logo {
            flex: 0 1 100px;
            order: 1;
            margin: 0 0 0 -120px;
		}

		&__menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 95px;
            transition: 500ms;
            // border-top: 1px solid rgba(201, 201, 201, 0.15);
            border-bottom: 1px solid rgb(201, 201, 201);
                &.active {
                    top: 90px;
                    height: 75px;
                }
		}

		&__list {
		}

		&__link {
		}

		&__contacts {
            order: 0;
                a {
                    font-size: $fz_contacts_992;
                    padding: 7px;
                }
		}

		&__roster {
		}

		&__tel {
		}

		&__email {
		}

		&__burger {
            order: 2;
            display: block;
            position: relative;
            z-index: 2;
            width: 30px;
            height: 20px;
                span {
                    position: absolute;
                    top: 42.5%;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $color_main;
                    transition: 300ms;
                }
                &::before, &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $color_main;
                    transition: 300ms;
                }
                &::before {
                    top: 0;
                }
                &::after {
                    bottom: 0;
                }
                &.active {
                    span {
                        transform: translateX(0px) scale(0);
                    }
                    &::before {
                        transform: rotate(45deg);
                        top: 50%;
                    }
                    &::after {
                        transform: rotate(-45deg);
                        top: 50%;
                    }
                }
        }
    }

    .aboutus {
        padding: 90px 0 0 0;
        &__row {
            align-items: center;
        }

        &__column {
            &_1 {
                flex: 0 1 60%;
            }
            &_2 {
                flex: 0 1 40%;
                border-radius: 10px;
            }
        }

        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: $fz_subtitle_992;
        }

        &__card {
            padding: 20px;
        }

        &__feedback {            
        }
    }

    .feedback {
        padding: 15px 20px;

        &__title {
            font-size: $fz_subtitle_992;
        }

        &__field {
            input {
                font-size: $fz_text_992;
            }
        }

        &__button {
            font-size: $fz_text_992;
        }
    }

    .title {
        &:after {
            left: 45%;
            width: 10%;
        }
    }

    .advantages {
        &__column {
            flex: 0 1 50%;
            margin: 0px 0px 20px 0px;
        }

        &__title {
            font-size: $fz_subtitle_992;
        }

        &__text {
            font-size: $fz_text_992;
        }
    }

    .kinds {
            &__slider {
                height: 400px;
            }
    }

    .slide-kind {
        width: 42%;
            &__row {
                height: 400px;
                justify-content: center;
                margin: 0px 0px 0 0px;
                padding: 0 15px 0 15px;
            }

            &__title  {
                font-size: $fz_subtitle_992;
            }

            &__description, &__price {
                font-size: $fz_text_992;
            }
    }

    .pattern {
            &__row {
                flex-wrap: wrap;
            }

            &__column {
                flex: 0 1 33.333%;
                margin: 0px 0px 20px 0px;
            }
    }

    .examples {
        &__slider {
            height: 450px;
        }

        &__slide {
            width: 40%;
        }
    }

    .repair {
            &__slider {
                height: 400px;
            }
    }

    .slide-repair {
        width: 42%;
            &__row {
                margin: 180px 0px 0 0px;
                padding: 0 20px 0 20px;
            }

            &__title  {
                font-size: $fz_subtitle_992;
            }

            &__description, &__price {
                font-size: $fz_text_992;
            }
    }
}

@media (max-width: 767.98px) {
    // Переменные
    $fz_text_768: 14px;

    .header {
        &__row {
            height: 70px;
        }

        &__logo {
            flex: 0 1 90px;
        }

        &__menu {
            height: 90px;
            &.active {
                top: 80px;
            }
        }

        &__contacts {
            a {
                font-size: $fz_text_768;
            }
        }
    }

    .aboutus {
        padding: 140px 0 40px 0;
        &__row {
            flex-wrap: wrap;
        }
        &__column {
            &_1 {
                flex: 0 1 100%;
                margin: 0px 0px 10px 0px;
            }
            &_2 {
                flex: 0 1 100%;
                border-radius: 10px;
            }
        }

        &__card {
            padding: 0px;
        }

        &__feedback {            
        }
    }

    .feedback {
        padding: 30px 50px;
    }

    .title {
        &:after {
            left: 44%;
            width: 12%;
        }
    }
    
    .kinds {
        &__slider {
            height: 370px;
        }
    }

    .slide-kind {
        width: 55%;
            &__row {
                height: 370px;
                padding: 0 10px;
            }
    }

    .examples {
        &__slider {
            height: 400px;
        }

        &__slide {
            width: 47%;
        }
    }

    .repair {
        &__slider {
            height: 370px;
        }
    }

    .slide-repair {
        width: 55%;
            &__row {
                margin: 150px 0px 0 0px;
            }
    }

    .faq {
        &__question {
            font-size: 22px;
        }
    }

    .footer {
        &__row {
            flex-wrap: wrap;
        }
        &__column {
            flex: 0 1 100%;
            &_1 {
                order: 1;
            }
            &_2 {
                order: 0;
                padding: 0 50px;
            }
        }

        &__body {
            align-items: flex-start;
        }

        &__contacts {
            padding: 0;
        }
    }
}

@media (max-width: 575.98px) {
    // Переменные
    $fz_text_576: 12px;

    .header {
		&__row {
            height: 60px; 
		}

		&__logo {
            margin: 0 0 0 -40px;
		}

		&__menu {
            top: -70px;
            height: 150px;
                &.active {
                    top: 70px;
                    height: 140px;
                }
		}

		&__list {
		}

		&__link {
            flex: 0 1 50%;
		}

		&__contacts {
            a {
                font-size: $fz_text_576;
                padding: 5px;
            }
		}

		&__roster {
		}

		&__tel {
            display: none;
		}

        &__tel-img {
            display: inline-block;
            width: 35px;
                img {
                    max-width: 100%;
                }
        }

		&__email {
            display: none;
		}

        &__email-img {
            display: inline-block;
            width: 35px;
                img {
                    max-width: 100%;
                }
        }

		&__burger {
		}
    }

    .aboutus {
        padding: 100px 0 20px 0;
        &__feedback {
            padding: 20px 25px;
        }
    }

    .feedback {
        padding: 30px 25px;
    }

    .title {
        &:after {
            left: 43%;
            width: 14%;
        }
    }

    .advantages {
        &__column {
            flex: 0 1 100%;
            margin: 0px 20px 20px 20px;
        }
    }

    .kinds {
        &__slider {
            height: 380px;
        }
    }

    .slide-kind {
        width: 85%;
            &__row {
                height: 380px;
                padding: 20px 10px 0 10px;
            }
    }

    .pattern {
        &__column {
            flex: 0 1 50%;
            margin: 0px 0px 20px 0px;
        }
    }

    .part {
        &_arrow {
            &::before, &::after {
                right: -15px;
            }
        }
        
        &::before {
            top: 44px;
        }
        &::after {
            top: 56px;
        }

        &__img {
            width: 100px;
            height: 100px;
        }
    }

    .examples {
        &__slider {
            height: 350px;
        }

        &__slide {
            width: 72%;
        }
    }

    .repair {
        &__slider {
            height: 370px;
        }
    }

    .slide-repair {
        width: 80%;
            &__row {
                margin: 130px 0px 0 0px;
            }
    }

    .faq {
        &__question {
            font-size: 18px;
        }
    }

    .footer {
        &__column {
            &_2 {
                padding: 0 25px;
            }
        }
    }
}