/* Обнуление стилей */
@import 'null';
/* Ограничивающий контейнер */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Основная оболочка сайта */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
/* Подключение шрифтов */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
body, html {font-family: 'Nunito', sans-serif;}
/* Переменные */
$color_main: #50AAB2; 
$color_second: #D7EB67;
$color_title: #000;
$color_text: #81858e;
$color_dop: #D7EB67;
$fz_title: 30px;
$fz_subtitle: 24px;
$fz_text: 18px;
$fz_dop: 16px;
$bgc_1: rgba(201, 201, 201, 0.7);
$bgc_lightgray: #FCFCFC;
$bgc_gray: #E8EEEF;
$bgc_footer: #082B4C;
$color_text_btn: #062A4D;

/* Шапка */
.header {
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }

		&__container {
		}

		&__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
		}

		&__logo {
            position: relative;
            z-index: 2;
            flex: 0 1 120px;
                img {
                    max-width: 100%;
                }
		}

		&__menu {
            background-color: #fff;
		}

		&__list {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 2;
		}

		&__link {
            margin: 7.5px 0px 7.5px 0px;
            flex: 0 1 25%;            
            text-align: center;
                a {
                    position: relative;
                    color: $color_text;
                    font-size: $fz_text;
                    white-space: nowrap;
                    padding: 0 0 5px 0;
                        &:hover {
                            color: $color_main;
                        }
                        &::before, &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 0;
                            height: 3px;
                            background-color: $color_main;
                            transition: 500ms;
                        }
                        &::before {
                            left: 50%;
                        }
                        &::after {
                            right: 50%;
                        }
                        &:hover::before, &:hover::after {
                            width: 50%;
                        }
                }
                


		}

		&__contacts {
            position: relative;
            z-index: 2;
		}

        &__roster {
        }

		&__tel {
            margin: 0px 0px 5px 0px;

                a {
                    text-align: center;
                    display: block;
                    background-color: $color_main;
                    border: 2px solid $color_main;
                    border-radius: 10px;
                    padding: 10px;
                    color: #fff;
                    font-size: $fz_text;
                    transition: 300ms;
                    white-space: nowrap;
                        &:hover {
                            background-color: #fff;
                            color: $color_main;
                        }
                }
        }
        
        &__tel-img {
            display: none;
        }

		&__email {
            
            a {
                text-align: center;
                display: block;
                background-color: $color_second;
                border: 2px solid $color_second;
                border-radius: 10px;
                padding: 10px;
                color: #fff;
                font-size: $fz_text;
                transition: 300ms;
                    &:hover {
                        background-color: #fff;
                        color: $color_second;
                    }
            }
		}

        &__email-img {
            display: none;
        }

		&__burger {
            display: none;
		}
}

/* Контентная часть */
.content {
    flex: 1 0 auto;
}

/* Блок О нас */
.aboutus {
    // margin: 110px 0px 0px 0px;
    padding: 150px 0 40px 0;
    background: url(../img/files/bc1.jpg) center/cover no-repeat;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(70, 70, 70, 0.5);
    }

        &__container {
        }

        &__row {
            display: flex;
        }

        &__column {
            &_1 {
                flex: 0 1 60%;
            }
            &_2 {
                flex: 0 1 40%;                
            }
        }

        &__card {
            padding: 30px;
            color: #fff;
        }

        &__title {
            font-size: 34px;
            margin: 0px 0px 30px 0px;
        }

        &__subtitle {
            font-size: $fz_title;
            margin: 0px 0px 20px 0px;
        }

        &__description {
            font-size: $fz_text;
            margin: 0px 0px 10px 0px;
        }

        &__feedback {            
        }
}

.feedback {
    background-color: $bgc_1;
    border-radius: 10px;
    padding: 20px 70px;
        &__title {
            font-size: $fz_subtitle;
            color: #fff;
            margin: 0px 0px 20px 0px;
        }

        &__form {
            border-radius: 10px;
        }

        &__point {
            margin: 0px 0px 15px 0px;
        }

        &__field {
                input {
                    border-radius: 25px;
                    padding: 5px 15px;
                    font-size: $fz_text;
                    color: $color_text;
                    width: 100%;
                    height: 40px;
                }
        }

        &__privacy {
        }

        &__checkbox {
            font-size: 14px;
            margin: 30px 0px 10px 0px;
            color: #fff;
            a {
                text-decoration: underline;
                color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
            }
        }

        &__send {
        }

        &__button {
            padding: 10px;
            border-radius: 10px;
            background-color: $color_second;
            color: $color_text_btn;
            font-size: $fz_text;
            box-shadow: 0px 3px 0px #94a146;
            transition: 300ms;
                &:hover {
                    box-shadow: 0px 0px 0px #94a146;
                    transform: translateY(3px);
                }
        }
}

/* Блок преимущества */
.advantages {
    padding: 50px 0 50px 0;
        &__container {
        }

        &__title {
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
        }

        &__column {
            flex: 0 1 25%;
            padding: 0 10px;
        }

        &__card {
        }
}

.title {
    font-size: $fz_title;
    text-align: center;
    position: relative;
    padding: 0 0 20px 0;
    margin: 0px 0px 40px 0px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 46.5%;
            width: 7%;
            height: 3px;
            background-color: $color_main;
        }
}

.card-adv {
    background-color: $bgc_lightgray;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    min-height: 250px;
    
        &__row {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            // justify-content: center;
        }

        &__col {
            flex: 0 1 100%;
            &_1 {
                margin: 0px 0px 20px 0px;
            }
            &_2 {
                margin: 0px 0px 20px 0px;
                // min-height: 3.5rem;
            }
            &_3 {
                margin: 0px 0px 0px 0px;
            }
        }

        &__img {
            width: 100%;
            text-align: center;
                img {
                    max-width: 100%;
                }
        }

        &__title {
            font-size: $fz_subtitle;
            text-align: center;
        }

        &__text {
            font-size: $fz_text;
            line-height: 20px;
            color: $color_text;
            text-align: center;
        }
}

/* Блок Цены на москитные сетки */
.kinds {
    background-color: $bgc_gray;
    padding: 50px 0;
        .swiper-container {            
        }

        &__container {
        }

        &__title {
        }

        &__slider {
            width: 100%;
            height: 500px;
            padding: 7px 0;
        }

        &__wrapper {
        }

        &__slide {
            &_1 {
                background: url(../img/files/ramka.jpg) 0 0/cover no-repeat;
                
            }
            &_2 {
                background: url(../img/files/euro.jpg) 0 0/cover no-repeat;
            }
            &_3 {
                background: url(../img/files/razdvizh.jpg) 0 0/cover no-repeat;
            }
            &_4 {
                background: url(../img/files/dver.jpg) 0 0/cover no-repeat;
            }
            &_5 {
                background: url(../img/files/antipyl.jpg) 0 0/cover no-repeat;
            }
            &_6 {
                background: url(../img/files/antikoshka.jpg) 0 0/cover no-repeat;
            }
            &_7 {
                background: url(../img/files/antipylca.jpg) 0 0/cover no-repeat;
            }
            &_8 {
                background: url(../img/files/nestand.jpg) 0 0/cover no-repeat;
            }
        }
}

.slide-kind {
    width: 34%;
    position: relative;
    // border-radius: 10px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(26, 26, 26, 0.5);
        transition: 500ms;
    }
    &:hover::after {
        background-color: rgba(0, 0, 0, 0.8);
    }

    &_hit {
        outline: 7px solid $color_dop;
        position: relative;
        &::before {
            content: 'Хит продаж';
            position: relative;
            z-index: 2;
            font-size: $fz_text;
            color: #fff;
            background-color: $color_dop;
            text-align: center;
            position: absolute;
            top: 0;
            left: calc(50% - 5px - 3em);
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;            
            padding: 5px 15px 10px 15px;
        }
    }
        &__row {
            position: relative;
            z-index: 2;
            // height: 50%;
            margin: 230px 0px 0 0px;
            padding: 0 15px 0 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__col {
            margin: 0px 0px 20px 0px;
        }

        &__title {
            color: #fff;
            font-size: $fz_subtitle;
        }

        &__description {
            color: #fff;
            font-size: $fz_text;
            line-height: 20px;
        }

        &__price {
            color: $color_dop;
            font-size: $fz_dop;
            font-weight: 700;
        }
}

/* Блок Схема работы */
.pattern {
    // background-color: $color_second;
    padding: 50px 0;

		&__container {
		}

		&__title {
            // color: #fff;
		}

		&__row {
            display: flex;
            margin: 0 -10px;
		}

		&__column {
            flex: 0 1 16.667%;
            padding: 0 10px;
		}

		&__part {
		}
}

.part {
    position: relative;
    // padding: 0 20px;
    min-height: 150px;
    &::before, &::after {
        content: '';
        position: absolute;
        right: -20px;
        width: 20px;
        height: 3px;
        background-color: rgb(199, 199, 199);
    }
    &::before {
        transform: rotate(45deg);
        top: 54px;
    }
    &::after {
        transform: rotate(-45deg);
        top: 66px;
    }
    &_last {
        &::before, &::after {
            display: none;
        }
    }

		&__row {
            display: flex;
            flex-direction: column;
            align-items: center;
		}

		&__col {
            margin: 0px 0px 10px 0px;
		}

		&__img {
            border: 2px solid $color_text;
            border-radius: 50%;
            padding: 20px;
            width: 120px;
            height: 120px;
            background-color: $bgc_lightgray;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
		}

		&__number {
            // color: #fff;
            font-size: $fz_subtitle;
            text-align: center;
		}

		&__text {
            color: $color_text;
            text-align: center;
            line-height: 16px;
		}
}

/* Блок Цены на ремонт */
.repair {
    background-color: $bgc_gray;
    padding: 50px 0;

        &__container {
        }

        &__title {
        }

        &__slider {
            width: 100%;
            height: 500px;
            padding: 7px 0;
        }

        &__wrapper {
        }

        &__slide {
            &_1 {
                background: url(../img/files/regul.jpg) 0 0/cover no-repeat;
                
            }
            &_2 {
                background: url(../img/files/balkon.jpg) 0 0/cover no-repeat;
            }
            &_3 {
                background: url(../img/files/uplotbig.jpg) 0 0/cover no-repeat;
            }
            &_4 {
                background: url(../img/files/uplotsm.jpg) 0 0/cover no-repeat;
            }
            &_5 {
                background: url(../img/files/steklo.jpg) 0 0/cover no-repeat;
            }
            &_6 {
                background: url(../img/files/furnitura.jpg) 0 0/cover no-repeat;
            }
            &_7 {
                background: url(../img/files/ruchki.jpg) 0 0/cover no-repeat;
            }
        }
}

.slide-repair {
    width: 34%;
    position: relative;
    // border-radius: 10px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(26, 26, 26, 0.5);
        transition: 500ms;
    }
    &:hover::after {
        background-color: rgba(0, 0, 0, 0.8);
    }

    &_hit {
        outline: 7px solid $color_dop;
        position: relative;
        &::before {
            content: 'Хит продаж';
            position: relative;
            z-index: 2;
            font-size: $fz_text;
            color: #fff;
            background-color: $color_dop;
            text-align: center;
            position: absolute;
            top: 0;
            left: calc(50% - 5px - 3em);
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;            
            padding: 10px 15px;
        }
    }
        &__row {
            position: relative;
            z-index: 2;
            // height: 50%;
            margin: 250px 0px 0 0px;
            padding: 0 30px 0 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__col {
            margin: 0px 0px 20px 0px;
        }

        &__title {
            color: #fff;
            font-size: $fz_subtitle;
        }

        &__description {
            color: #fff;
            font-size: $fz_text;
            line-height: 20px;
        }

        &__price {
            color: $color_dop;
            font-size: $fz_dop;
            font-weight: 700;
        }
}

/* Блок Примеры работ */
.examples {
    padding: 50px 0;
		&__container {
            max-width: 100%;
            padding: 0;
            position: relative;
		}

		&__title {
		}

		&__slider {
            width: 100%;
            height: 450px;
		}

		&__wrapper {
		}

		&__slide {
            background-color: rgba(235, 235, 235, 0.342);
            width: 25%;
		}

		&__img {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
		}

		&__pagination {
            bottom: -40px;
            left: calc(50% - 56px);
            z-index: 2;
		}

		&__button-prev {
            &::before, &::after {
                color: $color_main;
            }
		}

		&__button-next {
            &::before, &::after {
                color: $color_main;
            }
        }
        
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 3px;
        }

        .swiper-pagination-bullet-active {
            background-color: $color_main;
        }
}

.faq {
    padding: 50px 0;

        &__container {
        }

        &__title {
        }

        &__body {
        }

        &__item {
            margin: 0px 0px 15px 0px;
        }

        &__question {
            cursor: pointer;
            font-size: $fz_subtitle;
            line-height: 26px;
            background-color: $bgc_gray;
            border-radius: 10px;
            padding: 10px 40px 10px 15px;
            margin: 0px 0px 10px 0px;
            position: relative;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    width: 15px;
                    height: 3px;
                    background-color: rgb(199, 199, 199);
                    transition: 300ms;
                }
                &::before {
                    transform: rotate(45deg);
                    right: 19px;
                }
                &::after {
                    transform: rotate(-45deg);
                    right: 10px;
                }
                &.active::before {
                    transform: rotate(-45deg);
                }
                &.active::after {
                    transform: rotate(45deg);
                }
        }

        &__answer {
            display: none;
            font-size: $fz_text;
            line-height: 20px;
            padding: 0 15px;
        }
}

/* Футер */
.footer {
    padding: 20px 0 20px 0;
    background-color: $bgc_footer;

        &__container {
        }

        &__row {
            display: flex;
        }

        &__column {
            flex: 0 1 50%;
        }

        &__feedback {
        }

        &__contacts {
            height: 100%;
            padding: 0 0 0 70px;
        }

        &__body {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        &__col {
            margin: 0px 0px 20px 0px;
        }

        &__title {
            font-size: $fz_title;
            color: #fff;
        }

        &__phone {
        }

        &__subtitle {
            font-size: $fz_subtitle;
            color: #fff;
            margin: 0px 0px 10px 0px;
        }

        &__contact {
            font-size: $fz_subtitle;
            color: $color_text;
        }

        &__email {
        }

        &__year {
            text-align: center;
            font-size: 16px;
            margin: 20px 0px 5px 0px;
            color: $color_text;
        }

        &__rights {
            text-align: center;
            font-size: 16px;
            color: $color_text;
        }
}

/* Страница политики конфиденциальности */
.privacy {
    overflow-x: hidden;
    padding: 20px 0;

    &__container {
    }

    &__logo {
        width: 150px;
        margin: 0 auto 20px auto;
        img {
            max-width: 100%;
        }
    }

    &__title {
        font-size: $fz_title;
        margin: 0px 0px 20px 0px;
    }

    &__text {
        p {
            font-size: 16px;
            color: $color_text;
            margin: 0 0 10px 0;
            padding: 0 0 0 30px;
        }
    }

    &__subtitle {
        font-size: $fz_subtitle;
        margin: 20px 0px 10px 0px;
    }
}

/* Страница успешной отправки заявки */
.success {
    overflow: hidden;
    padding: 20px 0 0 0;
		&__container {
        }
        
        &__logo {
            width: 150px;
            margin: 0 auto;
                img {
                    max-width: 100%;
                }
        }

		&__row {
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
		}

		&__col {
            margin: 0px 0px 20px 0px;
		}

		&__img {
            margin: 0px 0px 10px 0px;
            border-radius: 50%;
            background-color: $color_main;
            width: 120px;
            height: 120px;
            position: relative;
            &::before, &::after {
                content: '';
                position: absolute;
                bottom: 22px;
                width: 20px;                
                background-color: #fff;
                border-radius: 5px;
            }
            &::before {
                transform: rotate(-45deg);
                height: 50px;
                left: 30px;
            }
            &::after {
                transform: rotate(45deg);
                height: 70px;
                left: 61.3px;
            }
		}

		&__thanks {
            font-size: $fz_title;
            text-align: center;
		}

		&__text {
            font-size: $fz_subtitle;
            color: $color_text;
            text-align: center;
		}
}

/* Адаптив */
@import 'media';